<div style="margin: 15px;">
    <h1>
        {{statusCompra}}
    </h1>
    <div>
        collection_id:{{collection_id}}<br/>
        collection_status:{{collection_status}}<br/>
        external_reference:{{external_reference}}<br/>
        merchant_account_id:{{merchant_account_id}}<br/>
        merchant_order_id:{{merchant_order_id}}<br/>
        payment_type:{{payment_type}}<br/>
        preference_id:{{preference_id}}<br/>
        processing_mode:{{processing_mode}}<br/>
        site_id:{{site_id}}<br/>
    </div>
    <a href="/"></a>
    <button type="button" class="mercadopago-button"  onClick="javascript:window.location.href='/'">Go Home</button>

</div>
